TOKEN=bot_token_here

# Set to true if you want commands to only register in 'DEBUG_GUILDS'
DEV_MODE=false
# If set, tracebacks are sent to this channel
ERROR_LOGGING_CHANNEL=956312277840171028
# If set, DB backups are uploaded to this channel
DB_BACKUP_CHANNEL=956312298941739079
# Debug guilds which management commands will be registered to, comma-separated
DEBUG_GUILDS=861603964642525204

POSTGRES_USER=postgres
# Leave POSTGRES_HOST as sned-db to use included postgres instance, change if using docker-compose-nodb.
POSTGRES_HOST=sned-db
POSTGRES_DB=sned
POSTGRES_PORT=5432
POSTGRES_PASSWORD=db_password_here
# Version only applies in the case of Docker, determines the version of the database and client utilities.
POSTGRES_VERSION=14

# Used for toxicity filtering
PERSPECTIVE_API_KEY=perspective_api_key_here
# Merriam-Webster Dictionary API key
DICTIONARYAPI_API_KEY=dictionaryapi_api_key_here
